.button-authenticate, 
.input-authenticate {
    background-color: var(--vanilla) !important;
}

input:-webkit-autofill, 
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 100px var(--vanilla) inset;
}
