.button-authenticate, 
.input-authenticate {
    background-color: var(--element-color-5) !important;
}

input:-webkit-autofill, 
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 100px var(--element-color-5) inset;
}