<div class="editAddChat">
    <button (click)="closeAddChat()" class="closeEditAddChat cursor outline-none">X</button>
    <form
        class="editAddChatForm"
        [formGroup]="addChatForm"
        (ngSubmit)="onSubmit()"
        autocomplete="off">
        <label class="editAddChatFlexBox">
            <span>chatname:</span>
            <input 
                class="input-2"
                type="text"
                formControlName="name"
                autocomplete="off">
        </label>
        <label class="editAddChatFlexBox">
            <span>username search:</span>
            <input
                #searchBox
                class="input-2"
                type="text"
                autocomplete="off"
                (input)="search(searchBox.value)" />
        </label>
        <div class="editAddChatFlexBox">
            <ul>
                <li *ngFor="let user of users.value; let i = index">
                    <span>{{user}}</span>
                    <button type="button" class="plus outline-none cursor" (click)="removeUser(i)">-</button>
                </li>
            </ul>
            <ul>
                <li *ngFor="let user of users$ | async">
                    <span>{{user}}</span>
                    <button type="button" class="minus outline-none cursor" (click)="addUser(user)">+</button>
                </li>
            </ul>
        </div>
        <button type="submit" class="editAddChatSubmit button-2">Add chat</button>
    </form>
</div>
