#navigation {
    position: fixed;
    width: var(--navigation-width);
    top: var(--space-width);
    left: var(--space-width);
    bottom: var(--space-width);
}

#addChat, #chatList, #logout {
    position: absolute;
    width: 100%;
    left: 0;
}

#addChat {
    top: 0;
    transition: width 0.5s;
}

#logout {
    bottom: 0;
    transition: width 0.5s;
}

#addChat:hover, #logout:hover {
    width: calc(100% - 15px);
}

#chatList {
    overflow-y: scroll;
    direction: rtl;
    padding-left: var(--space-width);
    top: calc(var(--bar-height) + var(--space-width));
    bottom: calc(var(--bar-height) + var(--space-width));
    list-style-type: none;

    li {
        direction: ltr;
        text-align: left;
        overflow: hidden;
        width: 100%;
        height: var(--bar-height);
        font-size: 20px;
        line-height: 50px;
        padding-left: 10px;
        margin-top: var(--space-width);
        background-color: var(--element-color-2-75);
        transition: width 0.5s;
    }
    li:hover {
        width: calc(100% - 10px);
    }
}

.first {
    margin-top: 0 !important;
}

@media only screen and (max-width: 600px) {
    #addChat {
        width: calc(100% - var(--space-width) - var(--bar-height));
        left: calc(var(--space-width) + var(--bar-height));
    }
    #addChat:hover {
        width: calc(100% - var(--space-width) - var(--bar-height) - 15px);
    }

    #closeNavigation {
        position: absolute;
        width: var(--bar-height);
        top: 0;
        left: 0;
    }
}