#navigation {
    position: absolute;
    width: var(--navigation-width);
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(216, 195, 165, 0.4);
}

#addChat, #chatList, #logout {
    position: absolute;
    width: 100%;
    left: 0;
}

#addChat {
    top: 0;
}

#chatList {
    top: var(--bar-height);
    bottom: var(--bar-height);
    list-style-type: none;

    li {
        width: 100%;
        height: var(--bar-height);
        font-size: 20px;
        line-height: 50px;
        padding-left: 10px;
        background-color: rgba(216, 195, 165, 0.4);
        border-bottom: solid 2px var(--vanilla);
    }

    li:hover {
        padding-left: 5px;
        cursor: pointer;
    }

    li:focus {
        outline-width: 0;
    }
}

#logout {
    bottom: 0;
}

.selected {
    padding-left: 5px !important;
    border-left: solid 5px var(--gray);
}