#welcome {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: var(--navigation-width);
}

#message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-55%, -60%);
    font-family: 'Caveat';
    color: var(--font-color);
    text-align: center;

    h1 {
        font-size: 18vw;
    }

    h2 {
        font-size: 6.2vw;
    }
}