#welcome {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: var(--navigation-width);
}

#message {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-55%, -60%);
    font-family: 'Caveat';
    color: var(--font-color);
    text-align: center;

    h1 {
        font-size: 16vw;
    }

    h2 {
        font-size: 5.8vw;
    }
}

#openNavigation {
    display: none;
}

@media only screen and (max-width: 600px) {
    #welcome {
        left: 0;
    }

    #openNavigation {
        display: block;
        position: absolute;
        width: var(--bar-height);
        top: var(--space-width);
        left: var(--space-width);
    }    

    #message {
        h1 {
            font-size: 22vw;
        }
        h2 {
            font-size: 8vw;
        }
    }
}