#welcome {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: var(--navigation-width);
}

#message {
    position: absolute;
    left: 50%;
    transform: translate(-55%, 0);
    font-family: 'Caveat';
    color: var(--font-color);
    text-align: center;

    h1 {
        font-size: 12vw;
    }

    h2 {
        font-size: 4.6vw;
    }
}