* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--element-color-2-50); 
}
::-webkit-scrollbar-thumb {
    background: var(--element-color-2); 
}
::-webkit-scrollbar-thumb:hover {
    background: var(--element-color-6); 
}

:root {
    //colors:
    --brown: rgb(121,90,58);
    --dark-yellow: rgb(233,196,133);
    //happy
    --yellow: #f8e9a1;
    --red: #f76c6c;
    --darkblue: #374785;
    --darkdarkblue: #24305e;
    //minimal yet warm
    --eggshell: #eae7dc;
    --vanilla: #d8c3a5;
    --gray: #8e8d8a;
    --lightjellyred: #e98074;
    --jellyred: #e85a4f;
    //greentones
    --green: #347C45;
    --middlegreen: #205F2F;
    --brightgreen: rgba(114, 185, 131, 0.9);
    //bluetones
    --blue: rgb(55, 91, 233);
    --brightblue: rgba(111, 182, 221, 0.9);

    //config-colors:
    --element-color-1: rgb(216, 195, 165);
    --element-color-1-var: 216, 195, 165;
    --element-color-1-75: rgba(var(--element-color-1-var), 0.75);
    --element-color-1-50: rgba(var(--element-color-1-var), 0.5);
    --element-color-2: rgb(190, 190, 190);
    --element-color-2-var: 190, 190, 190;
    --element-color-2-90: rgb(var(--element-color-2-var), 0.9);
    --element-color-2-75: rgb(var(--element-color-2-var), 0.75);
    --element-color-2-60: rgb(var(--element-color-2-var), 0.6);
    --element-color-2-50: rgb(var(--element-color-2-var), 0.5);
    --element-color-2-30: rgb(var(--element-color-2-var), 0.3);
    --element-color-3: rgb(234, 231, 220);
    --element-color-3-var: 234, 231, 220;
    --element-color-3-75: rgba(var(--element-color-3-var), 0.75);
    --element-color-3-50: rgba(var(--element-color-3-var), 0.5);
    --element-color-4: rgb(255, 106, 92);
    --element-color-5: rgb(204, 223, 203);
    --element-color-6: rgb(100,100,100);
    --font-color-1: black;
    --font-color-2: rgb(121,90,58);
    --font-color-3: rgb(121,90,58);
    --background-url: url("/assets/pattern3.jpg");

    //config-sizes:
    --bar-height: 50px;
    --navigation-width: 300px;
    --button-right-width: 200px;
    --space-width: 5px;
    --form-width: 500px;
}

.header-authenticate {
    font-size: 11vw;
    text-align: center;
}
.form-authenticate {
    margin: auto;
    width: 500px;
    padding: 10px;
    max-width: 100%;
}
.button-authenticate, 
.input-authenticate {
    width: 100%;
    height: 30px;
    border-radius: 3px;
    padding: 2px;
    border: none;
}
.button-authenticate:focus, 
.input-authenticate:focus {
    outline-width: 0;
}
.button-authenticate:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px rgb(100,100,100);
}

.red-color {
    color: var(--jellyred);
}

.element-color-1 {
    color: var(--element-color-1) !important;
}
.element-color-2 {
    color: var(--element-color-2) !important;
}
.element-color-3 {
    color: var(--element-color-3) !important;
}
.element-color-4 {
    color: var(--element-color-4) !important;
}
.element-color-5 {
    color: var(--element-color-5) !important;
}

.bg-1 {
    background-color: var(--element-color-1) !important;
}
.bg-2 {
    background-color: var(--element-color-2) !important;
}
.bg-3 {
    background-color: var(--element-color-3) !important;
}
.bg-4 {
    background-color: var(--element-color-4) !important;
}
.bg-5 {
    background-color: var(--element-color-5) !important;
}

.basic-button, .basic-input {
    background-color: var(--element-color-1);
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 30px;
}
.basic-button:focus, .basic-input:focus {
    outline-width: 0;
}
.basic-button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px rgb(100,100,100);
}

.chat-button {
    height: var(--bar-height);
    background-color: var(--element-color-1);
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: var(--font-color-1);
}
.chat-button:focus {
    outline-width: 0;
}
.chat-button:hover {
    cursor: pointer;
}

.outline-none:focus {
    outline-width: 0;
}
.cursor:hover {
    cursor: pointer;
}

.editAddChat {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(100,100,100,0.8);
}
.closeEditAddChat {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    font-size: 50px;
    color: white;
    background-color: transparent;
    border: none;
}
.editAddChatForm {
    position: relative;
    position: fixed;
    width: var(--form-width);
    height: var(--form-width);
    top: calc(50% - var(--form-width) * 0.5);
    left: calc(50% - var(--form-width) * 0.5);
    background: var(--element-color-1);
}
.editAddChatFlexBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: var(--space-width);

    span, input, ul {
        width: calc(50% - var(--space-width) * 0.5);
    }
    span, input {
        line-height: 30px;
        height: 30px;
    }
    li {
        display: flex;
        justify-content: space-between;
        padding: 2px;
        height: 30px;
    }
    ul {
        border-radius: 5px;
        padding: 5px;
        height: calc(var(--form-width) - 5 * var(--space-width) - 3 * 30px);
        list-style-type: none;
        overflow-y: scroll;
        background-color: var(--element-color-3);
    }
    ul::-webkit-scrollbar-track {
        background: none;
    }
    ul::-webkit-scrollbar-thumb {
        background: var(--gray);
        border-radius: 5px; 
    }
    .plus {
        background-color: var(--red);
    }
    .minus {
        background-color: var(--green);
    }
    .minus, .plus {
        border-radius: 13px;
        border: none;
        width: 26px;
    }
}
.editAddChatSubmit {
    position: absolute;
    bottom: var(--space-width);
    left: var(--space-width);
    width: calc(100% - 2* var(--space-width));
    height: 30px;
}

@media only screen and (max-width: 500px) {
    .header-authenticate {
        font-size: 22vw;
    }
}