<div class="show" [class.showImportant]="showChat" id="messageArea" >
    <button id="openNavigation" class="chat-button" (click)="openNavigation()">
        <svg color="rgb(80,80,80)" height="20" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
            </path>
        </svg>
    </button>
    <ul id="messageList" #messageList>
        <li class="float-middle">
            <button class="basic-button bg-2" (click)="loadMore()">load more</button>
        </li>
        <li
            class="message"
            *ngFor="let message of chat.messages"
            [class.float-right]="username == message.author"
            >
            <span><b>{{message.author}}:</b></span>
            <p>{{message.message}}</p>
        </li>
    </ul>
    <div id="userListBorder"></div>
    <div id="userListBackground"></div>
    <ul id="userList">
        <li *ngFor="let user of chat.users| keyvalue; let i = index ">
            <span *ngIf="i > 0">, </span>
            <span>{{user.key}}</span>
            <div *ngIf="user.value"></div>
        </li>
    </ul>
    <button id="addUsers" class="chat-button" (click)="toggleEditChat(true)">Add users</button>
    <button id="addUsersSmall" class="chat-button" (click)="toggleEditChat(true)">
        <svg color="rgb(80,80,80)" height="20" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" class="svg-inline--fa fa-plus fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z">
            </path>
        </svg>
    </button>
    <form
        [formGroup]="messageForm"
        (ngSubmit)="sendMessage()"
        autocomplete="off">
        <div id="inputArea">
            <input
                type="text"
                formControlName="messageInput"
                autocomplete="off">
        </div>
        <button 
            id="send"
            class="chat-button"
            type="submit"
            [disabled]="!messageForm.valid">Send</button>    
        <button 
            id="sendSmall"
            class="chat-button"
            type="submit"
            [disabled]="!messageForm.valid">     
            <svg color="rgb(80,80,80)" height="20" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-up" class="svg-inline--fa fa-arrow-up fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor" d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z">
                </path>
            </svg>
        </button>    
    </form>
</div>
<app-edit-chat [chat]="chat" (CloseEditChat)="toggleEditChat($event)" *ngIf="editChat"></app-edit-chat>