#messageArea {
    position: fixed;
    top: var(--space-width);
    right: var(--space-width);
    bottom: var(--space-width);
    left: calc(2 * var(--space-width) + var(--navigation-width));
}

#messageList {
    position: absolute;
    overflow-y: scroll;
    top: calc(var(--bar-height) + var(--space-width));
    right: 0;
    bottom: calc(var(--bar-height) + var(--space-width));
    left: 0;
    list-style-type: none;
    padding-right: calc(50px + var(--space-width));
    padding-bottom: 10px;
    padding-left: 50px;

    .message {
        background-color: var(--brightgreen);
        border: solid 2px var(--green);
        border-radius: 5px;
        margin-top: calc(2 * var(--space-width));
        padding: 5px;
        width: 65%;
        float: left;
    }

    .float-middle {
        width: 30%;
        margin:auto;
        margin-top: var(--space-width);
    }

    .float-right {
        float: right !important;
        background-color: var(--brightblue) !important;
        border: solid 2px var(--blue) !important;
    }
}

#userListBorder {
    position: absolute;
    top: 0;
    right: calc(var(--space-width) + var(--button-right-width));
    left: 0;
    height: var(--bar-height);
    border: solid var(--space-width) var(--element-color-1);
}

#userListBackground {
    position: absolute;
    top: 0;
    right: calc(var(--space-width) + var(--button-right-width));
    left: 0;
    height: calc(var(--bar-height) - 10px);
    background-color: var(--element-color-1);
}

#userList {
    position: absolute;
    overflow-x: scroll;
    overflow-y: hidden;
    top: 0;
    right: calc(2* var(--space-width) + var(--button-right-width));
    left:  var(--space-width);
    height: calc(var(--bar-height) - var(--space-width));
    list-style-type: none;
    line-height: calc(var(--bar-height) - 10px);
    color: var(--font-color-1);

    li {
        display: inline;
        white-space: nowrap;
        span {
            font-size: 17px;
        }
        div {
            display: inline-block;
            margin-left: 3px;
            background-color: green;
            height: 12px;
            width: 12px;
            border-radius: 6px;
        }
    }
}

#userList::-webkit-scrollbar {
    height: 5px;
}

#userList::-webkit-scrollbar-track {
    background: var(--element-color-1-50); 
}
   
#userList::-webkit-scrollbar-thumb {
    background: var(--element-color-2); 
}

#userList::-webkit-scrollbar-thumb:hover {
    background: var(--element-color-6); 
}

#addUsers {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--button-right-width);
    height: var(--bar-height);
    transition: width 0.5s;
}

#inputArea {
    position: absolute;
    right: calc(var(--space-width) + var(--button-right-width));
    bottom: 0;
    left: 0;
    height: var(--bar-height);

    input {
        width: 100%;
        height: var(--bar-height);
        background-color: var(--element-color-1-50);
        border: solid 5px var(--element-color-1);
        padding-left: 5px;
    }

    input:focus {
        outline-width: 0;
    }
}

#send {
    position: absolute;
    right: 0;
    bottom: 0;
    width: var(--button-right-width);
    height: var(--bar-height);
    transition: width 0.5s;
}

#addUsers:hover, #send:hover {
    width: calc(var(--button-right-width) - 15px);
}