<div id="messageArea">
    <ul id="messageList" #messageList>
        <li class="float-middle">
            <button class="button-2" (click)="loadMore()">load more</button>
        </li>
        <li
            class="message"
            *ngFor="let message of chat.messages"
            [class.float-right]="username == message.author"
            >
            <span><b>{{message.author}}:</b></span>
            <p>{{message.message}}</p>
        </li>
    </ul>
    <div id="chatName">{{chat.onlineUsers[0]}}</div>
    <button id="addUsers" class="chat-button" (click)="toggleEditChat(true)">Add users</button>
    <form
        [formGroup]="messageForm"
        (ngSubmit)="sendMessage()"
        autocomplete="off">
        <div id="inputArea">
            <input
                type="text"
                formControlName="messageInput"
                autocomplete="off">
        </div>
        <button 
            id="send"
            class="chat-button"
            type="submit"
            [disabled]="!messageForm.valid">Send</button>    
    </form>
</div>
<app-edit-chat [chat]="chat" (CloseEditChat)="toggleEditChat($event)" *ngIf="editChat"></app-edit-chat>