.flex {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.half-box {
    width: 50%;
    height: 100%;
}

@media only screen and (max-width: 500px) {
    .half-box {
        width: 100%;
    }
}